{% extends 'home/layout.html' %}
{% load static %}
{% load humanize %}
{% block 'main' %}
<div class="container-fluid page-header mb-5 wow fadeIn" data-wow-delay="0.1s">
	<div class="container text-center">
		<h1 class="display-4 text-white animated slideInDown mb-4">Events and Testionials</h1>
		<nav aria-label="breadcrumb animated slideInDown">
			<ol class="breadcrumb justify-content-center mb-0">
				<li class="breadcrumb-item"><a class="text-white" href="/">Home</a></li>
				<li class="breadcrumb-item text-primary active" aria-current="page">Events</li>
			</ol>
		</nav>
	</div>
</div>

<div class="container-xxl py-5" style="padding-top:0px">
        <div class="container" style="padding-top:0px">
		<h1 class="display-6 mb-5" style="text-align:center">Events</h1>

                <div class="row g-5" style="marging-top:-20px">
                        
                        <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.5s">
                                <div class="h-100">
                                        <div class="d-inline-block rounded-pill bg-secondary text-primary py-1 px-3 mb-3">Vincent and Anne Foundation</div>
                                        <h3 class="dislay-4 mb-5">Financial Assistance for Terkimbir Benjamin</h3>

                                        <p class="mb-5" style="text-align:justify">A 46 year old bedridden man from Benue state Terkimbir 
Benjamin, weds
The groom Terkimbir Benjamin Tyough an electrician from Benue state Nigeria. Has been unable to afford the bill for his treatment after
 falling off an electric pole in march last year injuring his spinal cord. He was rushed to the hospital following the accident but
 has since been taken home due to his inability to pay the bill of N1.6 million demanded by the hospital management for his surgery.
 His unfortunate condition did not deter him from tieing the nuptial nut with the mother of his 3 sons they got wedded by Priest Kenneth Agede 
who described that wedding as a true demonstration of love, appealed to people to show pity and assist the groom get back on his feet by donating for the
 cost of his surgery so he walk again and enjoy his marriage. 
</p>
                                        

                                </div>
                        </div>
                </div>

		<div class="col-lg-12 wow fadeInUp" data-wow-delay="0.5s">
                                <div class="h-100">
                                        <h3 class="dislay-4 text-primary mb-5">TO THE CHILDREN IN THE STREET</h3>

                                        <p class="mb-5" style="text-align:justify">You wear your wounds like stars and yet are 
ignored by every passing responsible man and woman, I say to cry with hope, for though 
the future may look hopeless and bleak, help will come your way.<br />
I say congratlations for comng thus far and staying alive. You have won already, 
you are heroes.</p>


                                </div>
                        </div>
                </div>

        </div>
</div>



<div class="container-xxl py-5" style="padding-top:0px">
	<div class="container" style="padding-top:0px">
		<h1 class="display-6 mb-5" style="text-align:center">Testimonies</h1>
		<div class="row g-5" style="marging-top:-20px">
			
			<div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
				<div class="h-100">
							
					<p class="mb-5" style="text-align:justify">My name is Mrs Gloria John, a widow and mother of 4. I lost my husband to an attack by an extremist 
terrorist group called Boko Haram. They forced me to watch while they slaughtered my husband, they razed the community where we lived in and did business.
 All we had ever worked for was gone, as a result, I  couldn't cater for myself and children so I moved in to stay in an Internally 
Displaced Persons Camp (IDPs) at Durumi a suburb in Abuja. I met with VINCENT AND ANNE FOUNDATION TEAM when they visited. They got us a good accommodation and gifted 
me some money which has enabled me restart a business,  and also ensured my children returned to school. They have given us a new lease of life.
 We are grateful to GOD for bringing VINCENT AND ANNE FOUNDATION TEAM our way. 
Thank you VINCENT AND ANNE FOUNDATION </p>


					<div class="bg-light border-bottom border-5 border-primary rounded p-4 mb-4">
                                                <p class="text-dar mb-2" style="color:blue;font-family:cursive;font-size:25px">Mrs GLORIA. J. (+2348023052880)</p>
                                                <span class="text-primary"></span>
                                        </div>

					
				</div>
			</div>

			
			<div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                                <div class="h-100">

                                        <p class="mb-5" style="text-align:justify">I am a secondary school student, but had to drop out as my parents weren't able to continue with
			 paying of my school fees. I met with VINCENT AND ANNE FOUNDATION TEAM and they took up sponsoring me
Thank you and be blessed.</p>


                                        <div class="bg-light border-bottom border-5 border-primary rounded p-4 mb-4">
                                                <p class="text-dar mb-2" style="color:blue;font-family:cursive;font-size:25px">Chidera Ogbonna</p>
                                                <span class="text-primary"></span>
                                        </div>


                                </div>
                        </div>

			
			<div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                                <div class="h-100">

                                        <p class="mb-5" style="text-align:justify">I want to say a big thank you to VINCENT AND ANNE FOUNDATION. My wife was pregnant and through
 out the period of her pregnancy, the baby was abridged and the birth carnal was blocked by the growth of multiple fibroid, so to save the life of mother and baby, the hospital had 
to perform a CS operation on her. The operation was successful. Baby and mother are hale and hearty. 
 Thank God for using VINCENT AND ANNE FOUNDATION to assist me. They paid the hospital bill in full. 
 Thank you </p>


                                        <div class="bg-light border-bottom border-5 border-primary rounded p-4 mb-4">
                                                <p class="text-dar mb-2" style="color:blue;font-family:cursive;font-size:25px">Ibrahim A. (+2349155879015)</p>
                                                <span class="text-primary"></span>
                                        </div>


                                </div>
                        </div>


                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                                <div class="h-100">

                                        <p class="mb-5" style="text-align:justify">Thanks VINCENT AND ANNE FOUNDATIO for your timely assistance and intervention,
 words are not enough to express how grateful we are. 
Your financial aid had helped us get a good apartment. We are indeed grateful. 
Thank you.</p>


                                        <div class="bg-light border-bottom border-5 border-primary rounded p-4 mb-4">
                                                <p class="text-dar mb-2" style="color:blue;font-family:cursive;font-size:25px">Ms. Tessy M</p>
                                                <span class="text-primary"></span>
                                        </div>


                                </div>
                        </div>

		</div>
	</div>
</div>




{% endblock %}
