{% extends 'site_admin/layout.html' %}
{% block 'page' %} Tag {% endblock %}
{% block 'subpage' %} Index {% endblock %}
{% load static %}
{% load humanize %}
{% block 'main' %}
<form>
    <div class="col-12">
        <div class="card recent-sales overflow-auto">
            <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                        <h6>Action</h6>
                    </li>

                    <li class="dropdown-item"><a class="btn btn-primary" style="width:100%" href="{% url 'hero_create' %}">Add Banner</a></li>
                </ul>
            </div>

            <div class="card-body">
                    <h5 class="card-title">Website Banner List</h5>
                <table class="table table-borderless datatable">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" style="min-width:120px">Banner Title</th>
                        <th scope="col">Image</th>
                        <th scope="col" class="text-center">Status</th>
                        <th scope="col" class="text-center">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if banner_list %}
                    {% for banner in banner_list %}

                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ banner.title|title }} </td>
                            <td class="text-center"><img src="/media/{{banner.image}}" style="width:200px;height:120px" /></td>
                            <td class="text-center">{{ banner.status|upper }}</td>
                            <td class="text-center"><a class="btn btn-primary" href="{% url 'hero_edit' banner.id %}">Edit</a></td>
                        </tr>

                    {% endfor %}
                    {% else %}
                        <tr><td colspan="5"><h3 class="text-center">No Tag Registered Yet</h3></td></tr>
                    {% endif %}

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</form>


{%endblock %}

